﻿@model RemoteCourses.Models.Content

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ucz się kursu</h2>

<div>
    <h4>Zawartość</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tytuł
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Zawartość
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
