﻿@model RemoteCourses.Models.Content

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="../img/bg.jpg">
    <div class="container hero-text text-white">

        <h2>Ucz sie kursu</h2>

        <div>
            <h4>Zawartość</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Tytuł kursu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    Treść kursu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContentText)
                </dd>

            </dl>
        </div>

        <p>
            @Html.ActionLink("Wróc", "Details", "Courses", new { id = Model.Id }, null)
        </p>

    </div>
</section>
<!-- Hero section end -->