﻿@model IEnumerable<RemoteCourses.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="../../img/bg.jpg">
    <div class="container hero-text text-white">

        <h2>Quiz</h2>

        <div>
            
            @using (Html.BeginForm("QuizForm", "Questions", FormMethod.Post))
            {
                <div class="form-actions no-color">
                    <div class="form-actions">
                        @using RemoteCourses.Repositories.EntityFramework;
                        @{
                            var db = new CourseContext();

                            int i = 1;
                            foreach (var question in Model)
                            {
                                string name = "question" + i;

                                <label>@question.Text</label>

                                List<SelectListItem> itemList = new List<SelectListItem>();

                                foreach (var answer in db.Answers.Where(a => a.Questions.Id == question.Id))
                                {
                                    itemList.Add(new SelectListItem() { Text = answer.AnswerText, Value = question.Id + ";" + answer.AnswerText });
                                }

                                @Html.DropDownList(name, new SelectList(itemList, "Value", "Text"), "Wybierz odpowiedź", new { @class = "form-control" })
                                i++;
                            }
                        }
                        <input type="submit" value="Wyślij" class="btn btn-info" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Hero section end -->
