﻿@model RemoteCourses.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> itemList = new List<SelectListItem>();

    foreach (var section in Model.Section)
    {
        itemList.Add(new SelectListItem() { Text = section.SectionName, Value = section.Id.ToString() });
    }

}

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="../../img/bg.jpg">
    <div class="container hero-text text-white">

        <h2>Kurs</h2>

        <div>
            <dl class="dl-horizontal">
                <dt>
                    Kategoria
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    Opis
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>

        <hr />
        <h3>Rozdziały</h3>

        @using (Html.BeginForm("Index", "Contents", FormMethod.Post))
        {
            <div class="form-actions no-color">
                <div class="form-inline">
                    @Html.DropDownList("sectionId", new SelectList(itemList, "Value", "Text"), "Wybierz rozdział", new { @class = "form-control" })
                    <input type="submit" value="Wybierz" class="btn btn-info" />
                </div>
            </div>
        }

        <hr />
        <h3>Quizy</h3>
        @using (Html.BeginForm("Index", "Questions", FormMethod.Post))
        {
            <div class="form-actions no-color">
                <div class="form-inline">
                    @Html.DropDownList("sectionId", new SelectList(itemList, "Value", "Text"), "Wybierz quiz", new { @class = "form-control" })
                    <input type="submit" value="Wybierz" class="btn btn-info" />
                </div>
            </div>
        }

        <hr />
        <p>
            @Html.ActionLink("Powrót", "Index")
        </p>

    </div>
</section>
<!-- Hero section end -->
