﻿@model IEnumerable<RemoteCourses.Models.Course>

@using RemoteCourses.Repositories.EntityFramework;
@{
    ViewBag.Title = "Sekcja kursów";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<SelectListItem> itemList = new List<SelectListItem>();

    var context = new CourseContext();

    foreach (var course in context.Courses)
    {
        itemList.Add(new SelectListItem() { Text = course.Title, Value = course.Id.ToString() });
    }
}

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="../img/bg.jpg">
    <div class="container hero-text text-white">
        
        <h2>Moje kursy</h2>

        <table class="table">
            <tr>
                <th>
                    Kategoria
                </th>
                <th>
                    Opis
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Wybierz", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Wypisz się", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

            <h3>Zapisz się na kurs</h3>

            @using (Html.BeginForm("Index", "Courses", FormMethod.Post))
            {
                <div class="form-actions no-color">
                    <div class="form-inline">
                        @Html.DropDownList("courseId", new SelectList(itemList, "Value", "Text"), "Wybierz Kurs", new { @class = "form-control" })
                        <input type="submit" value="Zapisz" class="btn btn-info" />
                    </div>
                </div>
            }

        </table>
    </div>
</section>
<!-- Hero section end -->
