﻿@model RemoteCourses.Models.Student
@{
    ViewBag.Title = "Rejestracja";
}

<section class="hero-section set-bg" data-setbg="../img/bg.jpg">
    <div class="container hero-text text-white">

        <h2>Rejestracja</h2>
        <hr />
        @using (Html.BeginForm("Register", "Students", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <fieldset>

                @if (TempData["Message"] != null)
                {
                    <div class="form-group row">
                        <text style="color:red;">@TempData["Message"].ToString()</text>
                    </div>
                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nazwa użytkownika" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Hasło" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Zarejestruj" class="btn btn-primary" />
                </div>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Wróć", "Index", "Home")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</section>
<!-- Hero section end -->