﻿@model RemoteCourses.Models.Student


@if (Model != null)
{
    using (Html.BeginForm("LogOut", "Students", FormMethod.Post, new { id = "logoutForm", @class = "my-2 my-lg-0" }))
    {
        @Html.AntiForgeryToken()
        <li>@Html.ActionLink("Moje kursy", "Index", "Courses")</li>
        <li>@Html.ActionLink("Moje wyniki", "Index", "Results")</li>
        <form class="my-2 my-lg-0">
            <ul class="mr-auto navbar-right">
                <li class="nav-item">
                    <a class="site-btn header-btn">@Model.Name</a>
                </li>
                <li class="nav-item">
                    <a class="site-btn header-btn" href="@Url.Action("LogOut", "Students")">Wyloguj</a>
                </li>
            </ul>
        </form>
    }
}
else
{
    <form class="my-2 my-lg-0">
        <ul class="mr-auto navbar-right">
            <li class="nav-item">
                <a class="site-btn header-btn" href="@Url.Action("Register", "Students")">Zarejestruj</a>
            </li>
            <li class="nav-item">
                <a class="site-btn header-btn" href="@Url.Action("Login", "Students")">Zaloguj</a>
            </li>
        </ul>
    </form>
}

