﻿@model IEnumerable<RemoteCourses.Models.Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="../../img/bg.jpg">
    <div class="container hero-text text-white">

        <h2>Moje wyniki</h2>

        <table class="table">
            <tr>
                <th>
                    Student
                </th>
                <th>
                    Wynik
                </th>
                <th>
                    Ilość pytań
                </th>
                <th>
                    Data podejścia
                </th>
                <th>
                    Sekcja
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sections.SectionName)
            </td>
        </tr>
            }

        </table>

    </div>
</section>
<!-- Hero section end -->